@font-face{
	font-family: "Helvetica Neue Ultra Light";
	src:url("Font/HelveticaNeue-UltraLight.otf");
}
@font-face{
	font-family: "Helvetica Neue Light";
	src:url("Font/HelveticaNeue-Light.otf");
}
html, body{
	font-family: "Helvetica Neue Light";
	font-weight: 200;
	padding: 0px;
	margin: 0px;
}
body{
	overflow: hidden;
	height: 100%;
	width: 500%;
	left: 0px;

}
.square{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: .3;
	z-index: 1;
}
.topbar{
	position: fixed;
	width: 100%;
	background-color: white;
	z-index:10;
	height: 30px;
	margin-left: 0px;
	margin-top: 0px;
	left: 0px;
	top: 0px;
	opacity: .9;
	border-bottom: solid black 1px;
}
.linkswrapper{
	margin-left: auto;
	margin-right: auto;
	width:960px;
	height:30px;
}
.name a:link, .name a:visited, .name a:hover{
	width:160px;
	float:left;
	text-align: center;
	height: 30px;
	line-height: 30px;
	color: black;
	font-size: 30px;
	text-decoration: none;
	z-index: 10;
}
.toplink a:link,.toplink a:visited{
	width:160px;
	float: left;
	text-align: center;
	color: black;
	opacity: .9;
	z-index: 10;
	height: 30px;
	text-decoration: none;
	line-height: 30px;
	display: inline-block;
	font-size: 18px;
}
.toplink a:hover{
	color: gray;
}
.myibn, .myibn a:link, .myibn a:visited{
	background-color: black;
	color: white;
	width:160px;
	float: left;
	text-align: center;
	opacity: .9;
	z-index: 10;
	height: 30px;
	text-decoration: none;
	line-height: 30px;
	display: inline-block;
	font-size: 18px;
	margin-top: 0px;
	float: right;
}
#slider{
	position: absolute;
	background-color: black;
	opacity: .2;
	width:160px;
	height: 30px;
	float: left;
	margin-left: 0px;
	z-index: -3;
}


.bottombar{
	position: fixed;
	bottom: 10px;
	width: 100%;
	font-size: 18px;
}
.bottombar-wrapper{
	width: 960px;
	margin-right: auto;
	margin-left: auto; 
}
.bottomlink, a.bottomlink:link, a.bottomlink:visited, a.bottomlink:hover{
	text-decoration: none;
	text-align: center;
	color: white;
	float: left;
	width: auto;
	display: inline-block;
	padding: 0px 10px;
}
.vertical-seperator{
	border-left: solid white 1px;
}
h1{
	font-family: "Helvetica Neue Ultra Light"; 
}
p{
	line-height: 200%;
	text-align: center;
	padding: 0px 20px;
}
#sign-in-wrapper{
	position: absolute;
	width: 20%;
	height: 100%;
	display: none;
	z-index: 2;
	left: 0px;
}
#sign-in{
	position: relative;
	margin: 100px auto;
	height: 350px;
	width: 400px;
	background: rgba(0, 0, 0, .8);

}
#sign-in > #header{
	position: absolute;
	margin: 25px auto 10px;
	font-size: 50px; 
	text-align: center;
	font-family: "Helvetica Neue Ultra Light"; 
	height: auto;
	width: 100%;
	color: white;
}
a#forgot:link, a#forgot:visited{
	position: absolute;
	color: white;
	margin: 230px auto 0px 50px;
}
a#login-button:link, a#login-button:visited{
	position: absolute;
	text-decoration: none;
	text-align: center;
	color: black;
	width: 70px;
	display: inline-block;
	font-size: 20px;
	background-color: white;
	opacity: .9;
	padding: 10px 30px;
	margin: 280px 0px 0px 135px;
	
}
a#login-button:hover{
	background-color: #e6e6e6;

}

/* -----------Section Attributes------------ */
#wrapper{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 500%;
	height: 100%;
}
#index{
	position: absolute;
	width: 20%;
	height: 100%;
	min-width: 960px;
	top: 0px;
	left: 0px;
}
#shared-profits{
	position: absolute;
	width: 20%;
	height: 100%;
	min-width: 960px;
	top: 0px;
	left: 20%;
}
#audits{
	position: absolute;
	width: 20%;
	height: 100%;
	min-width: 960px;
	top: 0px;
	left: 40%;
}
#faq{
	position: absolute;
	width: 20%;
	height: 100%;
	min-width: 960px;
	top: 0px;
	left: 60%;
}
#support{
	position: absolute;
	width: 20%;
	height: 100%;
	min-width: 960px;
	top: 0px;
	left: 80%;
}



/* -----------Index------------ */

#index-text{
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	padding-top: 100px;
	color: white;

}
#index-text > #header{
	font-size: 100px;
	width: 100%;
	position: absolute;
	text-align: center;
	top: 200px;
	color: white;
	font-family: "Helvetica Neue Ultra Light";
	font-weight: bold;
}
#login-bar{
	position: absolute;
	top: 550px;
	width: 100%;
}
#login-wrapper{
	margin:0px auto;
	width: 360px;
}
#login-signup{
	background-color: white;
	opacity: .9;
	padding: 10px 30px;

}
a#login-signup-link:link, a#login-signup-link:visited{
	text-decoration: none;
	text-align: center;
	color: black;
	float: left;
	width: 100px;
	display: inline-block;
	font-size: 20px;
	background-color: white;
	opacity: .9;
	padding: 10px 30px;
	margin: 0px 10px;
}
a#login-signup-link:hover{
	background-color: #e6e6e6;
}

/* -----------Shared Profits------------ */
#shared-profits-text{
	position: absolute;
	text-align: center;
	top: 0px;
	left: 50px;
	width: 650px;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	padding-top: 100px;
	color: white;
}
#shared-profits-text > #header{
	font-size: 47px;
	font-family: "Helvetica Neue Ultra Light";
}

#shared-profits-text > p{
	font-size: 20px;
	text-align: center;

}
#shared-profits-text > #button-wrapper{
	width: 170px;
	height: 50px;
	margin: 100px auto 100px 220px;
}
#shared-profits-text > #button-wrapper > #button{
	background-color: white;
	opacity: .9;
	color: black;
	text-decoration: none;
	text-align: center;
	float: left;
	width: 170px;
	display: inline-block;
	font-size: 20px;
	padding: 10px 20px;
}
#survey-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 2;
	left: 0px;
}
#survey{
	position: relative;
	margin: 50px auto;
	height: 90%;
	width: 80%;
	min-width: 960px;
	background: rgba(0, 0, 0, .8);

}
#survey > #column2,  #survey > #column3{
	float: left;
	width: 27%;
	height: 100%;

}
#survey > #column1{
	float: left;
	width: 45%;
	height: 100%;
	border-right: solid white 1px;
}
#column2 > #form, #column3 > #form{
	width: 90%;
	margin: 0px auto;
	color: white;
	line-height: 1.3em;
}
#survey-input{
	width: 100%;
}
#survey > #column1 > p, #survey > #column1 > ul{
	color: white;
	line-height: 1.4em;
	text-align: left;
	width: 85%;
}
#survey > #column1 > p{
	font-size: 18px;
}
#form > #survey-button-wrapper{
	position: relative;
	width: 100px;
	height: 50px;
	margin: 50px auto auto auto;
}
#form > #survey-button-wrapper > #submit-survey-button{
	background-color: white;
	opacity: .9;
	color: black;
	text-decoration: none;
	text-align: center;
	float: left;
	width: 100px;
	display: inline-block;
	font-size: 20px;
	padding: 10px 20px;
	cursor: pointer;
}
#thank-you{
	display: none;
	float: left;
	text-align: center;
	width: 53%;
	margin-top: 300px;
	font-size: 50px;
	color: white;
}

/* -----------Audits------------ */
#audits-text{
	position: absolute;
	right: 50px;
	top: 0px;
	width: 650px;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	padding-top: 100px;
	color: white;
}
#audits-text > #header{
	font-size: 40px; 
	text-align: center;
	font-family: "Helvetica Neue Ultra Light"; 
	margin: 0px auto;
}
#audits-text > p{
	position: relative;
	font-size: 20px;
	text-align: center;
}
#audits-text > #button-wrapper{
	width: 170px;
	height: 50px;
	margin: 100px auto 100px;
}
#audits-text > #button-wrapper > #button{
	background-color: white;
	opacity: .9;
	color: black;
	text-decoration: none;
	text-align: center;
	float: left;
	width: 170px;
	display: inline-block;
	font-size: 20px;
	padding: 10px 20px;
	margin: 0px auto;
}

/* -----------FAQ------------ */
#faq-text{
	position: absolute;
	top: 0px;
	left: 50px;
	width: 650px;
	height: 100%;
	color: white;
	padding-top: 100px;
	background: rgba(0, 0, 0, .6);
}
#faq-text > #header{
	font-size: 40px; 
	text-align: center;
	font-family: "Helvetica Neue Ultra Light"; 
	margin: 0px auto;
	color: white;
}
#faq-text > p{
	position: relative;
	font-size: 20px;
	text-align: center;
	color: white;
}
#faq-text > #button-wrapper{
	width: 170px;
	height: 50px;
	margin: 100px auto 100px;
}
#faq-text > #button-wrapper > #button{
	background-color: white;
	opacity: .9;
	color: black;
	text-decoration: none;
	text-align: center;
	float: left;
	width: 170px;
	display: inline-block;
	font-size: 20px;
	padding: 10px 20px;
	margin: 0px auto;
}

/* -----------Support------------ */
#support-text{
	position: absolute;
	right: 50px;
	top: 0px;
	width: 650px;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	padding-top: 100px;
	color: white;
}
#support-text > #header{
	font-size: 40px; 
	text-align: center;
	font-family: "Helvetica Neue Ultra Light"; 
	margin: 0px auto;
}
#support-text > p{
	position: relative;
	font-size: 20px;
	text-align: center;
}
#support-text > #button-wrapper{
	width: 170px;
	height: 50px;
	margin: 100px auto 100px;
}
#support-text > #button-wrapper > #button{
	background-color: white;
	opacity: .9;
	color: black;
	text-decoration: none;
	text-align: center;
	float: left;
	width: 170px;
	display: inline-block;
	font-size: 20px;
	padding: 10px 20px;
	margin: 0px auto;
}

