@font-face{
	font-family: "Helvetica Neue Ultra Light";
	src:url("Font/HelveticaNeue-UltraLight.otf");
}
@font-face{
	font-family: "Helvetica Neue Light";
	src:url("Font/HelveticaNeue-Light.otf");
}
html, body{
	font-family: "Helvetica Neue Light";
	font-weight: 200;
	padding: 0px;
	margin: 0px;
	left: 0px;

}
#topbar{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10;
	overflow-x: auto; 
	background-color: rgba(0,0,0,0);
}
.linkswrapper{
	margin:0px auto;
	width: 840px;
	overflow: auto;
}
a.toplink:link, a.toplink:visited{
	width:140px;
	float: left;
	text-align: center;
	color: white;
	z-index: 10;
	height: 35px;
	text-decoration: none;
	line-height: 35px;
	display: inline-block;
	font-size: 18px;
}
.bottombar{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 40px;
	font-size: 14px;
	background: rgba(0, 0, 0, 1.0);
}
.bottombar-wrapper{
	width: 100%;
	height: 20px;
	margin: 10px auto;
	color: black;
}
.bottomlink, a.bottomlink:link, a.bottomlink:visited, a.bottomlink:hover{
	text-decoration: none;
	text-align: center;
	color: white;
	float: left;
	width: auto;
	display: inline-block;
	padding: 0px 10px;
}
.vertical-seperator{
	border-left: solid white 1px;
}
p{
	line-height: 200%;
	text-align: center;
	padding: 0px 20px;
}
#header-arrow{
	position: relative; 
	top: 90%; 
	margin-left: -50px; 
	width: 100px; 
	left: 50%;
}


/* -----------Index------------ */


#index{
	background-image: url('Images/lake.jpg'); 
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#index-text{
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	color: white;

}
#index-text > #header{
	font-size: 100px;
	width: 100%;
	position: relative;
	text-align: center;
	height: 100px;
	top: 100px;
	color: white;
	font-family: "Helvetica Neue Ultra Light";
}
#nav-bar{
	position: relative;
	margin-top: 300px;
	width: 100%;
}
#nav-wrapper{
	margin:0px auto;
	width: 700px;
}
a.navlink:link, a.navlink:visited{
	width:140px;
	float: left;
	text-align: center;
	color: white;
	z-index: 10;
	height: 30px;
	text-decoration: none;
	line-height: 30px;
	display: inline-block;
	font-size: 18px;
}

/* -----------Shared Profits------------ */

#shared-profits-header{
	background-image: url('Images/new-york.jpg');
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#shared-profits-header-text{
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	color: white;
}
#shared-profits-header-text > #header{
	position: relative;
	font-size: 85px;
	width: 75%;
	height: 85px;
	position: absolute;
	text-align: center;
	top: 25%;
	color: white;
	font-family: "Helvetica Neue Ultra Light";
	left: 50%;
	margin-left: -37.5%;
}
#survey-wrapper{
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 2;
	left: 0px;
}
#survey{
	position: relative;
	margin: 50px auto auto -200px;
	height: 80%;
	width: 400px;
	left: 50%;
	background: rgba(0, 0, 0, .9);

}
#survey > #questions{
	float: left;
	height: 100%;
	width: 100%;
	overflow: scroll;

}
#questions > #down-arrow{
	position: absolute;
	width: 100px;
	bottom: 0px;
	left: 50%;
	margin-left: -50px;
}
#survey > #close{
	position: absolute;
	width: 30px;
	top: 0px;
	left: 0px;
	cursor: pointer;
}
#questions > #form{
	width: 320px;
	margin: 0px auto;
	color: white;
	line-height: 1.3em;
	height: auto;
}
#survey-input{
	width: 100%;
}
#form > #survey-button-wrapper{
	position: relative;
	width: 140px;
	margin: 50px 0px 100px -50px;
	left: 50%;
}
#form > #survey-button-wrapper > #submit-survey-button{
	background-color: white;
	opacity: .9;
	color: black;
	text-decoration: none;
	text-align: center;
	width: 100px;
	font-size: 20px;
	padding: 10px 20px;
	cursor: pointer;
}
#thank-you{
	width: 320px;
	overflow-y: auto; 
	display: none;
	float: left;
	text-align: center;
	margin: 200px 40px 0px 40px;
	font-size: 25px;
	color: white;
}
#shared-profits-page{
	width: 100%;
	overflow: auto;
	position: relative;
	min-height: 900px;
	left: 0px;
}
#survey-text{
	margin: 50px 25px;
	position: relative;
	width: 800px;
	min-height: 60%;
	max-width: 95%;
	float: left;
}

#survey-text > .header, #survey-text > ul{
	line-height: 2em;
	text-align: left;
}
#survey-text > .header{
	font-size: 30px;
}
#quote{
	margin: 100px 25px;
	position: relative;
	float: left;
	width: 400px;
	min-width: 30%;
	max-width: 95%;
	text-align: middle;
	line-height: 2em;

}
#survey-text > #button-wrapper{
	margin: 100px 25px;
	position: relative;
	float: left;
	width: 100%;
	min-width: 30%;
	max-width: 95%;
}
#survey-text > #button-wrapper > #button{
	background-color: black;
	opacity: .9;
	color: white;
	text-decoration: none;
	text-align: center;
	position: relative;
	float: left;
	width: 150px;
	font-size: 20px;
	padding: 10px 20px;
	margin: auto auto auto -75px;
	left: 50%;
}

/* -----------Audits------------ */

#audits-header{
	background-image: url("Images/thermal-house.jpg");
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#audits-header-text{
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	color: white;
}
#audits-header-text > #header{
	position: relative;
	font-size: 85px;
	width: 75%;
	position: absolute;
	text-align: center;
	top: 25%;
	color: white;
	font-family: "Helvetica Neue Ultra Light";
	left: 50%;
	margin-left: -37.5%;
}
#audits-page{
	position: relative;
	height: 1000px;
	left: 0px;
}
/* -----------FAQ------------ */

#faq-header{
	background-image: url("Images/america.jpg");
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#faq-header-text{
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	color: white;
}
#faq-header-text > #header{
	position: relative;
	font-size: 85px;
	width: 75%;
	position: absolute;
	text-align: center;
	top: 25%;
	color: white;
	font-family: "Helvetica Neue Ultra Light";
	left: 50%;
	margin-left: -37.5%;
}
#faq-page{
	position: relative;
	height: 1000px;
	left: 0px;
}

/* -----------Support------------ */

#support-header{
	background-image: url("Images/tree.jpg");
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#support-header-text{
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	color: white;
}
#support-header-text > #header{
	position: relative;
	font-size: 85px;
	width: 75%;
	position: absolute;
	text-align: center;
	top: 25%;
	color: white;
	font-family: "Helvetica Neue Ultra Light";
	left: 50%;
	margin-left: -37.5%;
}
#support-page{
	position: relative;
	height: 1000px;
	left: 0px;
}

/*---------- Sign in ----------*/
#myibn-page{
	background-image: url('Images/nature.jpg'); 
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#sign-in-wrapper{
	position: absolute;
	background: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	z-index: 2;
	left: 0px;
}
#sign-in{
	position: relative;
	margin: 100px auto;
	height: 350px;
	width: 400px;
	background: rgba(0, 0, 0, .8);

}
#sign-in > #header{
	position: absolute;
	margin: 25px auto 10px;
	font-size: 50px; 
	text-align: center;
	font-family: "Helvetica Neue Ultra Light"; 
	height: auto;
	width: 100%;
	color: white;
}
a#forgot:link, a#forgot:visited{
	position: absolute;
	color: white;
	margin: 230px auto 0px 50px;
}
a#login-button:link, a#login-button:visited{
	position: absolute;
	text-decoration: none;
	text-align: center;
	color: black;
	width: 70px;
	display: inline-block;
	font-size: 20px;
	background-color: white;
	opacity: .9;
	padding: 10px 30px;
	margin: 280px 0px 0px 135px;
	
}
a#login-button:hover{
	background-color: #e6e6e6;

}

