@font-face{
	font-family: "Helvetica Neue Ultra Light";
	src:url("Font/HelveticaNeue-UltraLight.otf");
}
@font-face{
	font-family: "Helvetica Neue Light";
	src:url("Font/HelveticaNeue-Light.otf");
}
html, body{
	font-family: "Helvetica Neue Light";
	font-weight: 200;
	padding: 0px;
	margin: 0px;
	left: 0px;
	right: 0px;
	height: auto;

}
#topbar{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0);
	border-bottom: black solid 0px;
	height: 50px;
}
.linkswrapper{
	position: absolute;
	right: 40px;
	width: 600px;
	height: 50px;
}
a.toplink:link, a.toplink:visited{
	width:120px;
	float: left;
	text-align: center;
	color: white;
	z-index: 10;
	height: 45px;
	text-decoration: none;
	line-height: 50px;
	display: inline-block;
	font-size: 14px;
}
a.toplink:hover{
	border-bottom: white solid 5px;
}
a.toplink.active{
	border-bottom: white solid 5px;
}
#logo-topbar{
	position: absolute;
	left: 100px;
	border-bottom: white solid 0px;
}
#logo{
	margin-top: 5px;
	height: 40px;
}
.bottombar{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 40px;
	font-size: 14px;
	background: rgba(0, 0, 0, 1.0);
}
.bottombar-wrapper{
	width: 100%;
	height: 20px;
	margin: 10px auto;
	color: black;
}
.bottomlink, a.bottomlink:link, a.bottomlink:visited, a.bottomlink:hover{
	text-decoration: none;
	text-align: center;
	color: white;
	float: left;
	width: auto;
	display: inline-block;
	padding: 0px 10px;
}
.vertical-seperator{
	border-left: solid white 1px;
}
p{
	line-height: 200%;
	text-align: center;
	padding: 0px 20px;
}
#header-arrow{
	position: relative; 
	top: 85%; 
	margin-left: -50px; 
	width: 100px; 
	left: 50%;
}

#construction{
	font-size: 60px;
	width: 60%;
	margin: 200px 20%;
}


/* -----------Index------------ */


#index{
	background-image: url('Images/lake.jpg'); 
	background-size: 100% 100%;
	background-position: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	/*-webkit-filter: blur(4px);*/
	/*filter: blur(4px);*/
}
#index-text{
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	color: white;

}
#index-text > #header{
	font-size: 100px;
	width: 100%;
	position: relative;
	text-align: center;
	height: 100px;
	top: 100px;
	color: white;
	font-family: "Helvetica Neue Ultra Light";
}
#nav-bar{
	position: relative;
	margin-top: 250px;
	width: 100%;
	z-index: 3;
}
#nav-wrapper{
	margin:0px auto;
	width: 700px;
}
a.navlink:link, a.navlink:visited{
	width:140px;
	float: left;
	text-align: center;
	color: white;
	z-index: 10;
	height: 100px;
	text-decoration: none;
	line-height: 30px;
	display: inline-block;
	font-size: 18px;
}

/* -----------Shared Profits------------ */

#shared-profits-header{
	background-image: url('Images/new-york.jpg');
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#shared-profits-header-text{
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	color: white;
}
#shared-profits-header-text > #header{
	position: relative;
	font-size: 85px;
	width: 75%;
	height: 85px;
	position: absolute;
	text-align: center;
	top: 25%;
	color: white;
	font-family: "Helvetica Neue Ultra Light";
	left: 50%;
	margin-left: -37.5%;
}
#survey-wrapper{
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 2;
	left: 0px;
}
#survey{
	position: relative;
	margin: 50px auto auto -200px;
	height: 80%;
	width: 400px;
	left: 50%;
	background: rgba(0, 0, 0, .9);

}
#survey > #questions{
	float: left;
	height: 100%;
	width: 100%;
	overflow: scroll;

}
#questions > #down-arrow{
	position: absolute;
	width: 100px;
	bottom: 0px;
	left: 50%;
	margin-left: -50px;
}
#survey > #close{
	position: absolute;
	width: 30px;
	top: 0px;
	left: 0px;
	cursor: pointer;
}
#questions > #form{
	width: 320px;
	margin: 0px auto;
	color: white;
	line-height: 1.3em;
	height: auto;
}
#survey-input{
	width: 100%;
}
#form > #submit-survey-button{
	position: relative;
	left: 50%;
	margin: 20px auto 50px -70px;
	background-color: white;
	opacity: .9;
	color: black;
	text-decoration: none;
	text-align: center;
	width: 100px;
	font-size: 20px;
	padding: 10px 20px;
	cursor: pointer;
}
#thank-you{
	width: 320px;
	overflow-y: auto; 
	display: none;
	float: left;
	text-align: center;
	margin: 200px 40px 0px 40px;
	font-size: 25px;
	color: white;
}
#shared-profits-page{
	width: 100%;
	overflow: auto;
	position: relative;
	min-height: 900px;
	left: 0px;
}
#survey-text{
	margin: 50px 2.5%;
	position: relative;
	min-height: 60%;
	max-width: 95%;
	float: left;
}

#survey-text > .header, #survey-text > ul{
	line-height: 2em;
	text-align: left;
}
#survey-text > .header{
	font-size: 30px;
}
#survey-text > #button{
	background-color: black;
	opacity: .9;
	color: white;
	text-decoration: none;
	text-align: center;
	position: relative;
	float: left;
	width: 150px;
	font-size: 20px;
	padding: 10px 20px;
	margin: 50px auto 50px -75px;
	left: 50%;
	cursor: pointer;
}
#quote{
	margin: 50px auto 100px 25px;
	position: relative;
	float: left;
	min-width: 30%;
	max-width: 95%;
	text-align: center;
	line-height: 2em;
	font-size: 25px;

}

/* -----------Audits------------ */

#audits-header{
	background-image: url("Images/thermal-house.jpg");
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#audits-header-text{
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	color: white;
}
#audits-header-text > #header{
	position: relative;
	font-size: 85px;
	width: 75%;
	position: absolute;
	text-align: center;
	top: 25%;
	color: white;
	font-family: "Helvetica Neue Ultra Light";
	left: 50%;
	margin-left: -37.5%;
}
#audits-page{
	position: relative;
	left: 0px;
	overflow: auto;
}
#audits-page > .h1{
	width: 100%;
	text-align: center;
	margin: 50px 0px 50px;
	position: relative;
	font-size: 50px;
}
#audits-page > p{
	text-align: center;
	margin: 50px 20% 100px;
	position: relative;
	width: 60%;
	font-size: 18px;
}
/* -----------FAQ------------ */

#faq-header{
	background-image: url("Images/america.jpg");
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#faq-header-text{
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	color: white;
}
#faq-header-text > #header{
	position: relative;
	font-size: 6vw;
	width: 75%;
	position: absolute;
	text-align: center;
	top: 25%;
	color: white;
	font-family: "Helvetica Neue Ultra Light";
	left: 50%;
	margin-left: -37.5%;
}
#faq-page{
	position: relative;
	left: 0px;
	height: auto;
}
#faq-page > .h1{
	width: 100%;
	text-align: center;
	margin: 50px 0px 50px;
	position: relative;
	font-size: 3vw;
}
#faq-page > p{
	text-align: center;
	margin: 50px 20% 50px;
	position: relative;
	width: 60%;
	font-size: 1.2vw;
}
.info-block{
	margin: 0px .25%;
	min-width: 24.5%; 
	max-width: 100%;
	float: left;
	cursor: pointer;
	font-size: 2.5vw;
	margin-bottom: 30px;
}
a.info-links:link, a.info-links:visited{
	color: gray;
}
a.info-links:hover{
	color: white;
}
.blurBox{
	width: 100%;
	height: 100%;
}
#solar.info-block{
	background-image: url("Images/solar-panels.jpg");
	background-size: 200% 100%;
}
#solar-text{
	width: 100%;
	height: 50%;
	background: rgba(0, 0, 0, .7);
	color: white;
	text-align: center;
}
#market.info-block{
	background-image: url("Images/lightbulb.jpg");
	background-size: 200% 100%;
}
#market-text{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	color: white;
	text-align: center;
}
#finance.info-block{
	background-image: url("Images/finance.jpg");
	background-size: 200% 100%;
}
#finance-text{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	color: white;
	text-align: center;
}
#audits-faq.info-block{
	background-image: url("Images/stove.jpg");
	background-size: 200% 100%;
}
#audits-faq-text{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	color: white;
	text-align: center;
}
#textbox-container{
	position: relative;
	overflow: hidden;
	height: 0px;
	width: 100%;
	background-color: #385365;
	cursor: normal;
	color: white;
	font-size: 1.5vw;
	box-shadow: 0px 0px 30px 10px black inset;
}
#close-textbox-container{
	position: absolute;
	width: 30px;
	top: 0px;
	left: 0px;
	cursor: pointer;
}
#solar-textbox{
	position: relative;
	overflow: auto;
	float: left;
	display: none;
	left: 0px;
	width: 90%;
	margin: 0px 5% 0px;
	height: auto;
	background: rgba(255, 255, 255, 0);
	cursor: normal;
}
#market-textbox{
	position: relative;
	overflow: auto;
	float: left;
	display: none;
	left: 0px;
	width: 90%;
	margin: 0px 5% 0px;
	height: auto;
	background: rgba(255, 255, 255, 0);
	cursor: normal;
}
#finance-textbox{
	position: relative;
	overflow: auto;
	float: left;
	display: none;
	left: 0px;
	width: 90%;
	margin: 0px 5% 0px;
	height: auto;
	background: rgba(255, 255, 255, 0);
	cursor: normal;
}
#audits-faq-textbox{
	position: relative;
	overflow: auto;
	float: left;
	display: none;
	left: 0px;
	width: 90%;
	margin: 0px 5% 0px;
	height: auto;
	background: rgba(255, 255, 255, 0);
	cursor: normal;
}
#submitQuestion{
	position: relative;
	margin: 20px 40% -70px;
	background-color: black;
	opacity: .9;
	color: white;
	text-decoration: none;
	text-align: center;
	width: 20%;
	font-size: 20px;
	padding: 10px 20px;
	cursor: pointer;
}


/* -----------About------------ */

#about-header{
	background-image: url("Images/tree.jpg");
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#about-header-text{
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	color: white;
}
#about-header-text > #header{
	position: relative;
	font-size: 85px;
	width: 75%;
	position: absolute;
	text-align: center;
	top: 25%;
	color: white;
	font-family: "Helvetica Neue Ultra Light";
	left: 50%;
	margin-left: -37.5%;
}
#about-page{
	position: relative;
	height: auto;
	left: 0px;
	overflow: auto;
}
#about-page > p{
	text-align: center;
	color: rgb(50,50,50);
	margin: 20px 20% 50px;
	position: relative;
	width: 60%;
	font-size: 15px;
}
#about-cell-wrapper{
	position: relative;
	left: 50%;
	margin: 0px 0px 0px -277px;
	height: 810px;
	width: 554px;
}
.about-cell{
	position: absolute;
	height: 400px;
	width: 267px;
}
.about-cell-text{
	position: absolute;
	bottom: 0px;
	background:rgba(0,0,0,.8);
	color: white;
	font-size: 16px;
	width: 100%;
	height: 70px;
}
.about-cell-text > .name{
	font-size: 23px;
	margin-left: 5px;
}
.about-cell-text > .title{
	margin-left: 5px;
	font-style: italic;
}
#contact-brayden{
	text-align: center;
	padding: 200px 0px;
	font-size: 22px;
	width: 60%;
	margin: 0px 20% 100px; 
}

/*---------- Sign in ----------*/
#myibn-login-page{
	background-image: url('Images/nature.jpg'); 
	background-size: 100% 100%;
	background-position: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#sign-in-wrapper{
	position: absolute;
	background: rgba(0, 0, 0, .2);
	width: 100%;
	height: 100%;
	z-index: 2;
	left: 0px;
}
#sign-in{
	position: relative;
	margin: 100px auto;
	height: 350px;
	width: 400px;
	background: rgba(0, 0, 0, .8);

}
#sign-in > #header{
	position: absolute;
	margin: 25px auto 10px;
	font-size: 50px; 
	text-align: center;
	font-family: "Helvetica Neue Ultra Light"; 
	height: auto;
	width: 100%;
	color: white;
}
a#forgot:link, a#forgot:visited{
	position: absolute;
	color: white;
	margin: 230px auto 0px 50px;
}
a#login-button:link, a#login-button:visited{
	position: absolute;
	text-decoration: none;
	text-align: center;
	color: black;
	width: 70px;
	display: inline-block;
	font-size: 20px;
	background-color: white;
	opacity: .9;
	padding: 10px 30px;
	margin: 280px 0px 0px 135px;
	
}
a#login-button:hover{
	background-color: #e6e6e6;

}

/*------------- My IBN ----------------*/
#myibn-page{
	background-image: url('Images/nature.jpg'); 
	background-size: 100% 100%;
	background-position: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#myibn-wrapper{
	position: absolute;
	background: rgba(0, 0, 0, .2);
	width: 100%;
	height: 100%;
	z-index: 2;
	left: 0px;
}
#myibn{
	position: relative;
	margin: 5% 5% 0%;
	height: 80%;
	width: 90%;
	background: rgba(0, 0, 0, .9);

}



